* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #051524;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* ================================================== */
/* ==================================== HEADER */
header {
    background-color: rgb(3, 13, 22);
    width: 100vw;
    height: 4rem;
    position: fixed;
    z-index: 1;
    top: 0;
}

header nav {
    height: 100%;
    display: flex;
}

header ul {
    height: 100%;
    width: 100%;
    margin: 0 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

header a {
    text-decoration: none;
    color: #919191;
}

header nav ul > li {
    list-style: none;
}

header nav ul > li:first-of-type {
    margin-right: auto;
}

/* ==================================== FOOTER */
footer {
    background-color: black; 
    font-size: 0.8rem;
    margin: auto;
    padding: 50px 17% 30px 17%;
}

footer a {
    color: rgb(67, 147, 238);
    text-transform: uppercase;
    text-decoration: none;
}

footer p:last-of-type {
    margin: 15px 0 0 0;
    text-align: center;
}

footer span {
    font-weight: bold;
}

/* ================================================== */
/* ==================================== MAIN INDEX */
main[id="index-main"] {
    /* background-color: grey; */
}

main[id="index-main"] section {
    /* border: 1px solid red; */
    width: 90%;
    min-width: 440px;
    padding: 80px 0 0 0;
    margin: auto;
    display: flex;
    flex-direction: column;
}

main[id="index-main"] section ul {
    padding: 0 0 0 30px;
}

main[id="index-main"] h2 {
    margin-bottom: 10px;
}

main[id="index-main"] h3,
main[id="index-main"] li {
    margin-bottom: 5px;
}

main[id="index-main"] section:nth-of-type(2) > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 750px;
}

/* ==================================== MAIN INFO */
main[id="info-main"] {
    display: flex;
    flex-direction: column;
}

main[id="info-main"] section {
    /* border: 1px solid pink; */
    width: 90%;
    min-width: 440px;
    padding: 80px 0 50px 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ------------------------------------ */
.text-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section-content {
    padding: 25px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* ------------------------------------ specific */
#price-table-section > .section-content,
#flowchart-section > .section-content {
    border: 1px solid #112840;
}

#flowchart-section > div ol {
    margin: 5px 0 0 0;
    padding: 0 0 0 30px;
}
#flowchart-section .section-content > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#comission-section {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 75px 5% 40px 5%;
    width: 100%;
}
#comission-section .section-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#comission-section .section-content > div {
    margin: 0 20px;
}




/* ======================================================= */
/* ======================================================= */
/*                          OBJECTS                        */
/* ======================================================= */

/* ======================================================= */
/* =====================             ===================== */
/* ===================== PRICE TABLE ===================== */
/* =====================             ===================== */
/* ================== STRUCTURE: LAYOUT ================== */
.price-table, .price-table .table,
.price-table .table-header,
.price-table .table-body,
.tcol-header, .tcol-header > div,
.tcol-points, .tcol-points > div,
.tcol-price, .tcol-price > div {
    display: flex;
}
.price-table, .price-table .table,
.tcol-header,
.tcol-points,
.tcol-price {
    flex-direction: column;
}

.price-table .table-header > div,
.tcol-header, .tcol-header div,
.tcol-points, .tcol-points div,
.tcol-price, .tcol-price > div:not([class="double-row"]) {
    flex: 1;
}
.price-table .double-row {
    flex: 2;
}

.price-table .table-caption {
    text-align: center;
}

.price-table .table-header {
    text-align: end;
    align-items: flex-end;
}
.price-table .table-header > div:nth-child(1) {
    text-align: start;
}
.price-table .table-header > div:nth-child(2) {
    text-align: center;
}

.price-table .table-body {
    justify-content: space-between;
}

.tcol-header > div,
.tcol-points > div,
.tcol-price > div {
    align-items: center;
}
.tcol-points > div {
    justify-content: center;
}
.tcol-price > div {
    justify-content: flex-end;
}
.tcol-price li {
    text-align: right;
}

/* ================== STRUCTURE: SHAPE ================== */
.price-table {
    width: 430px;
}

.price-table .table-caption {
    height: 2rem;
}
.price-table .table-header {
    height: 3rem;
}

.wol-price-table .table-body {
    height: 145px;
}
.live-price-table .table-body {
    height: 96px;
}

/* ================== DETAILS ================== */
.price-table {
    box-sizing: border-box;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 0.85rem;
    background-color: #112840;
    /* position */
    padding: 0; margin: 0;
}

.price-table .table-caption {
    font-size: 1rem;
    background-color: #051524;
    border: 2px solid #0659ED;
    line-height: 2rem; /* position */
}

.price-table .table-header {
    background-color: #0659ED;
    padding: 0.3rem 0.7rem; /* position */
}

.price-table .table-header *,
.tcol-header * {
    font-weight: bold;
}

.wol-price-table .table-body,
.live-price-table .table-body {
    background-color: #112840;
}

.tcol-header > div,
.tcol-points > div,
.tcol-price > div {
    border-top: 2px solid #051524;
}

.tcol-header > div {
    padding-left: 0.7rem; /* position */
}
.tcol-price:last-child > div {
    padding-right: 0.7rem; /* position */
}

.tcol-price li,
.tcol-price ul {
    /* position */
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* ================== DETAILS: CONTENT ================== */
.price-table .table-header .points {
    font-size: 0.6rem;
    display: block;
}
.price-table .table-header .points::before {
    content: "(";
    font-size: 0.6rem;
}
.price-table .table-header .points::after {
    content: " pt)";
    font-size: 0.6rem;
}

.tcol-header .comission-detail {
    display: none;
    color: gray;
    font-size: 0.6rem;
    font-style: italic;;
}
.tcol-header > div:hover .comission-detail {
    display: block;
}

.price-table div.circle-shape {
    font-size: 0.7rem;
    border: 1px solid white;
    border-radius: 50%;
    height: 30px;
    flex: 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-table span[data-value*="price"]::before {
    content: "R$ ";
    font-size: 0.6rem;
}
.price-table span[data-value*="price"].monthly-price:after {
    content: "/mês";
    font-size: 0.7rem;
}

.price-table .price-detail {
    color: grey;
}
.price-table .price-detail.discount {
    font-size: 0.7rem;
}
.discount::after {
    content: "% off";
    color: grey;
    font-size: 0.6rem;
}
/* ======================================================= */
/* ======================================================= */



/* ======================================================= */
/* =====================             ===================== */
/* =====================  FLOWCHART  ===================== */
/* =====================             ===================== */
/* ================== STRUCTURE: LAYOUT ================== */
.flowchart, .upsell-level,
.upsell-product, .upsell-total,
.upsell-top, .upsell-bottom {
    display: flex;
}
.flowchart,
.upsell-product, .upsell-total {
    flex-direction: column;
}

.upsell-level {
    justify-content: space-between;
}

.upsell-product,
.upsell-total {
    flex: 1;
}
.upsell-top {
    flex: 2;
}
.upsell-bottom {
    flex: 3;
}

.flowchart {
    gap: 10px;
}
.upsell-top {
    justify-content: center;
}
.upsell-bottom {
    justify-content: space-between;
}

.flowchart-caption {
    text-align: center;
}
.upsell-product, .upsell-total,
.upsell-top, .upsell-bottom {
    align-items: center;
}

/* ================== STRUCTURE: SHAPE ================== */
.flowchart {
    width: 300px;
}

.upsell-level {
    height: 90px;
}

.upsell-bottom {
    width: 143px;
}

/* ================== DETAILS ================== */
.flowchart {
    box-sizing: border-box;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 0.85rem;
    /* position */
    padding: 0; margin: 0;
}

.flowchart-caption {
    font-size: 0.6rem;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 2px; /* position */
}
div[id^="flowchart-lifetimeSubs-"] .flowchart-caption {
    border: 3px solid #0659ED;
}
div[id^="flowchart-yearSubs-"] .flowchart-caption {
    border: 3px solid #E01A4F;
}

.upsell-level {
    margin: 0 7px; /* position */
}

.upsell-product {
    background-color: #112840;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.upsell-total {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
div[id^="flowchart-lifetimeSubs-"] .upsell-total {
    background-color: #0659ED;
}
div[id^="flowchart-yearSubs-"] .upsell-total {
    background-color: #E01A4F;
}

.upsell-level.first .upsell-product {
    background-color: #051524;
}
.upsell-level.first .upsell-total {
    border-radius: 10px;
}

.upsell-bottom {
    padding: 0 15px; /* position */
}
.upsell-bottom li,
.upsell-bottom ul {
    /* position */
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* ================== DETAILS: CONTENT ================== */
.flowchart div.circle-shape {
    font-size: 0.6rem;
    opacity: 0.5;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 50%;
    height: 23px;
    width: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flowchart .upsell-top > div {
    background-color: #051524;
    height: 14px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flowchart .upsell-top span[class^="upsell-detail-"] {
    font-size: 0.6rem;
}
.flowchart .upsell-top .upsell-detail-total::before {
    content: 'Total R$ ';
}
div[id^="flowchart-lifetimeSubs-"] .upsell-top .upsell-detail-product::before {
    content: '+ ';
    color: #3b82fc;
}
div[id^="flowchart-yearSubs-"] .upsell-top .upsell-detail-product::before {
    content: '+ ';
    color: #E01A4F;
}

.flowchart span[data-value*="price"] {
    font-size: 1rem;
}
.flowchart span[data-value*="price"]::before {
    content: "R$ ";
    font-size: 0.6rem;
}
.flowchart span[data-value*="price"].monthly-price:after {
    content: "/mês";
    font-size: 0.7rem;
}
.flowchart span[data-value*="price"].plus-sign::after {
    content: "+";
    font-size: 0.7rem;
}

.grey-out {
    opacity: 0.6;
}
/* ======================================================= */
/* ======================================================= */



/* ======================================================= */
/* =====================             ===================== */
/* =====================  COMISSION  ===================== */
/* =====================             ===================== */
/* ================== STRUCTURE: LAYOUT ================== */
div[id^="comission-table-"],
.comission-header,
.comission-body > div,
.comission-values {
    display: flex;
}
div[id^="comission-table-"] {
    flex-direction: column;
    text-align: center;
}

.comission-header,
.comission-values {
    justify-content: space-evenly;
    align-items: center;
}

.comission-title {
    align-self: flex-end;
}

/* ================== STRUCTURE: SHAPE ================== */
div[id^="comission-table-"] {
    width: 350px;
}
div[id="comission-table-live"] {
    width: 230px;
}

.comission-title,
.comission-header,
.comission-values {
    width: 320px;
}
div[id="comission-table-live"] .comission-title,
div[id="comission-table-live"] .comission-header,
div[id="comission-table-live"] .comission-values {
    width: 200px;
}

.comission-body > div,
.comission-values {
    height: 2rem;
}

.comission-header > div,
.comission-values > div {
    width: 25%;
}

/* ================== DETAILS ================== */
div[id^="comission-table-"] {
    box-sizing: border-box;
    color: white;
    font-family: Verdana, sans-serif;
    /* position */
    padding: 0; margin: 0;
}

div[id^="comission-table-"] *:not(.comission-title) {
    font-size: 0.8rem;
}

.comission-title {
    font-size: 0.6rem;
    border: 1px solid #0659ED;
    border-radius: 10px;
    text-transform: uppercase;
    /* position */
    padding: 3px 0;
    margin: 0 0 10px 0;
}

.comission-header {
    background-color: unset;
    color: #59A8D2;
    /* position */
    margin: 0 0 0 30px;
}

.comission-body > div {
    margin: 10px auto; /* position */
}

.comission-values {
    background-color: #112840;
    border-radius: 50px;
}

/* ================== DETAILS: CONTENT ================== */
.comission-circle {
    height: 20px;
    width: 20px;
    margin: auto 10px auto 0;
    border-radius: 50%;
}
.comission-circle.white {
    background-color: white;
}
.comission-circle.blue {
    background-color: #05299E;
}
.comission-circle.gold {
    background-color: #FCA311;
}
.comission-circle.black {
    background-color: black;
    border: 1px solid rgb(109, 103, 103);
}